.dashboardRight {
    width: 100%;
    &__title {
        display: block;
        margin-top: 1.5%;
        margin-right: 1.5%;
        margin-left: 1.5%;
        margin-bottom: 0;
        font-size: 1.5vw;
    }
    &__nav {
        margin-top: 1.5%;
        margin-right: 1.5%;
        margin-left: 1.5%;
        margin-bottom: 0;
        padding: 0;
        background-color: $carbone;
        color: white;

        &__ul {
            margin: 0;
            padding: 20px;
            display: flex;
            flex-direction: row;
            // justify-content: space-between;
            list-style: none;
            &__link {
                margin-right: 100px;
                text-decoration: none;
                color: white;
                font-size: 1.2vw;
                &--active {
                    margin-right: 100px;
                    color: $orange;
                    text-decoration: none;
                    font-size: 1.2vw;
                }
            }
        }
    }
    &__outlet {
        margin-right: 1.5%;
        margin-left: 1.5%;
        margin-bottom: 1.5%;
        background-color: $warm_gray_3;
    }
}
