.dashboardLeft{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    &__title{
        width: 20%;
        color: white;
        display: flex;
        align-items: center;
        &--vertical{
            @include vertical-title;
        }
    }
    &__user{
        width: 80%;
        display: flex;
        flex-direction: column;
        &__separator{
            border-top: 8px solid #bbb;
            width: 90%;
        }
        &__button{
            &--back{
                height: 7vh;
                width: 7vh;
                background-image: url("../../../public/pictures/flecheBlanche.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-color: transparent;
                border: none;
            }
            &--back:hover {
                background-image: url("../../../public/pictures/flecheOrange.jpg");
            }
            &--logout{
                width: 60%;
                margin: 20px auto;
                border: none;
                font-size: 1.5vw;
                background-color: $warm_gray_1;
                color: $carbone;
                padding: 5px;
            }
            &--logout:hover{
                color: $orange;
            }
        }
    }
}