.userPassword {
    display: flex;
    flex-direction: column;
    color: $carbone;
    font-size: 1vw;
    padding: 5%;

    &__title {
        margin: 20px auto;
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__inputs {
            &__line {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 10px;

                &__input {
                    width: 40%;

                    &--notMatching {
                        outline: solid 1px $raspberry;
                        width: 40%;
                    }
                }
            }
        }

        &__button {
            width: 50%;
            margin: 0 auto;
            margin-top: 30px;
            background-color: $orange;
            border: none;
            color: white;
            padding: 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 1vw;
        }
    }
}
