.commonPage {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: $carbone;


    @media screen and (max-width: 520px) {
        flex-direction: column;
    }

    &__left {
        width: 24%;
        margin: 15px 0 15px 15px;

        @media screen and (max-width: 520px) {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 15px 0 15px 0px;
        }
    }

    &__isTrain {
        width: 76%;
        display: flex;

        &__center {
            width: 50%;
            margin: 15px 0 15px 0px;

            @media screen and (max-width: 520px) {
                width: 35%;
            }

        }

        &__right {
            width: 50%;
            margin: 15px 15px 15px 0;

            @media screen and (max-width: 520px) {
                width: 65%;
            }

        }

        @media screen and (max-width: 520px) {
            width: 100%;
            height: 100%;
        }
    }

    &__empty {
        width: 76%;
        height: 98%;

        & h4 {
            margin-top: 30%;
            font-family: $Avenir;
            color: $orange;
            font-size: 4vh;
            text-align: center;
        }

        @media screen and (max-width: 520px) {
            width: 100%;
        }

    }
}