.commonPage {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: $carbone;

    &__left {
        width: 24%;
        margin: 15px 0 15px 15px;
        // background-color: white;
    }

    &__center {
        width: 38%;
        margin: 15px 0 15px 0px;
        // background-color: green;
    }

    &__right {
        width: 38%;
        margin: 15px 15px 15px 0;
        // background-color: white;
    }
}
