.commonPage {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: $carbone;

    &__left {
        width: 24%;
        margin: 15px 0 15px 15px;
        // background-color: white;
    }

    &__isTrain {
        width: 76%;
        display: flex;

        &__center {
            width: 50%;
            margin: 15px 0 15px 0px;
        }

        &__right {
            width: 50%;
            margin: 15px 15px 15px 0;
        }
    }

    &__empty {
        width: 76%;
        height: 98%;

        & h4 {
            margin-top: 30%;
            font-family: $Avenir;
            color: $orange;
            font-size: 4vh;
            text-align: center;
        }

    }
}