.trailersglobal {
    width: 95%;
    &__trailersInfo {
        &__title {
            display: flex;
            justify-content: center;
            height: 30px;
            margin-bottom: 80px;
            &__title {
                color: $carbone;
                font-size: 25px;
            }
        }
        &__expi-1 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            &__exp {
                width: 200px;
                font-size: 13px;
            }
            &__result {
                font-size: 13px;
                text-align: end;
            }
        }
        &__expi-2 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            &__exp {
                width: 200px;
                font-size: 13px;
            }
            &__result {
                font-size: 13px;
                text-align: end;
            }
        }
        &__expi-3 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            &__exp {
                width: 200px;
                font-size: 13px;
            }
            &__result {
                font-size: 13px;
                text-align: end;
            }
        }
        &__expi-4 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            &__exp {
                width: 200px;
                font-size: 13px;
            }
            &__result {
                font-size: 13px;
                text-align: end;
            }
        }
    }
}
