:root {
    --scale-a: 1;
    --scale-b: 1;
    --scale-c: 1;
    --scale-d: 1;
    --font-pic-a: 1em;
    --font-pic-b: 1em;
    --font-pic-c: 1em;
    --font-pic-d: 1em;
    --marge-a: 50px;
    --marge-b: 120px;
    --marge-c: 200px;
    --marge-d: 300px;
    --marge-e: 410px;
    --marge-f: 500px;
    --marge-g: 580px;
}

div[class^="centerPage__carrousel_trailersPic_R"]:first-child:nth-last-child(9),
div[class^="centerPage__carrousel_trailersPic_R"]:first-child:nth-last-child(9)
    ~ div[class^="centerPage__carrousel_trailersPic_R"] {
    --scale-a: 1;
    --scale-b: 1.3;
    --scale-c: 1.6;
    --scale-d: 1.3;
    --font-pic-a: 1em;
    --font-pic-b: 1.5em;
    --font-pic-c: 2em;
    --font-pic-d: 1.5em;
    --index_z-r3: -5;
    --index_z-r8: 2;
    // --marge-a: 10%;
    --marge-b: 16vh;
    --marge-c: 26vh;
    --marge-d: 37vh;
    --marge-e: 48vh;
    --marge-f: 58vh;
    // --marge-g: 470px;
}

div[class^="centerPage__carrousel_trailersPic_R"]:first-child:nth-last-child(7),
div[class^="centerPage__carrousel_trailersPic_R"]:first-child:nth-last-child(7)
    ~ div[class^="centerPage__carrousel_trailersPic_R"] {
    --scale-a: 1.3;
    --scale-b: 1.6;
    --scale-c: 1.3;
    --scale-d: 1;
    --font-pic-a: 1.5em;
    --font-pic-b: 2em;
    --font-pic-c: 1.5em;
    --font-pic-d: 1em;
    --index_z-r3: 2;
    --index_z-r8: -5;
    --marge-a: 16vh;
    --marge-b: 26vh;
    --marge-c: 37vh;
    --marge-d: 48vh;
    --marge-e: 58vh;
    // --marge-f: 62%;
    // --marge-g: 77%;
}

[class^="centerPage__carrousel_trailersPic_R"] {
    display: flex;
    align-items: center;
    position: absolute;
    width: 12vw;
}

[class^="centerPage__carrousel_trailersPic_R"] img {
    height: auto;
    width: 100%;
}

[class^="centerPage__carrousel_trailersNum_color_R"] {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
}

[class^="centerPage__carrousel_trailersNum_color_R_big_"] {
    width: 60px;
    height: 60px;
    font-size: 2em;
    font-weight: bolder;
}

[class^="centerPage__carrousel_trailersNum_color_R_small_"] {
    width: 30px;
    height: 30px;
    font-size: 1em;
}

.centerPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__infoRame {
        width: 100%;
        height: 13%;
        display: flex;
        justify-content: space-evenly;
        background-color: #e0ded8;
        color: $orange;
        text-align: center;

        & h4 {
            margin: auto 0;
            font-size: 2.5vh;
        }
    }

    &__carrousel {
        width: 100%;
        height: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e0ded8;

        &_trailersPic {
            display: flex;
            flex-direction: column;
            align-items: center;
            // justify-content: space-between;
            width: 80%;
            height: 80vh;
            position: relative;

            &_R1 {
                transition-delay: 1ms;
                // margin: var(--marge-a) auto 0;
                transform: scale(1);
                transition: all 0.5s;
                z-index: -5;
            }

            &_R2 {
                transition-delay: 3ms;
                // margin: var(--marge-b) auto 0;
                transform: scale(1);
                transition: all 0.9s;
                z-index: -5;
            }

            &_R3 {
                transition-delay: 3ms;
                margin: var(--marge-a) auto 0;
                transform: scale(1);
                /* variable 1.3 ou 1.0 suivant serie */
                transition: all 0.9s;
                z-index: var(--index_z-r3);
            }

            &_R4 {
                transition-delay: 4ms;
                margin: var(--marge-b) auto 0;
                transform: scale(var(--scale-a));
                /* variable 1.6 ou 1.3 suivant serie */
                transition: all 1s;
                z-index: 2;
            }

            &_R5 {
                transition-delay: 5ms;
                margin: var(--marge-c) auto 0;
                transform: scale(var(--scale-b));
                /* variable 1.6 ou 1.3 suivant serie */
                transition: all 0.9s;
                z-index: 2;
            }

            &_R6 {
                transition-delay: 6ms;
                margin: var(--marge-d) auto 0;
                transform: scale(var(--scale-c));
                /* variable 1.3 ou 1.0 suivant serie */
                transition: all 0.9s;
                z-index: 2;
            }

            &_R7 {
                transition: all 0.5s;
                transition-delay: 7ms;
                margin: var(--marge-e) auto 0;
                transform: scale(var(--scale-d));
                font-size: 1em;
                z-index: 2;
            }

            &_R8 {
                transition: all 0.5s;
                transition-delay: 8ms;
                margin: var(--marge-f) auto 0;
                transform: scale(1);
                z-index: var(--index_z-r8);
            }

            &_R9 {
                transition: all 0.5s;
                transition-delay: 9ms;
                transform: scale(1);
                z-index: -51;
            }
        }

        &_trailersNum {
            display: flex;
            position: relative;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            height: 100%;
            width: 20%;

            &_bar {
                display: flex;
                width: 5px;
                height: 90%;
                position: absolute;
                background-color: white;
            }

            &__buttom {
                z-index: 1;
                &_Up {
                    // position: relative;
                    width: 47px;
                    height: 47px;
                    // font-size: 3em;
                    background-image: url(../../public/pictures/logo/flecheUpBlanche.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: $orange;
                    margin-top: 2px;
                    z-index: 2;
                    border-radius: 10px;
                    border: none;
                }
                &_Down {
                    // position: relative;
                    width: 47px;
                    height: 47px;
                    // font-size: 3em;
                    // color: white;
                    background-image: url(../../public/pictures/logo/flecheDownBlanche.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: $orange;
                    margin-bottom: 2px;
                    z-index: 2;
                    border-radius: 10px;
                    border: none;
                }
            }

            &_color {
                display: flex;
                flex-direction: column;
                position: relative;
                align-items: center;
                justify-content: space-evenly;
                // margin-top: 5px;
                height: 60px;
                width: 60px;
                color: white;

                &_R_small_red {
                    background-color: $raspberry;
                }

                &_R_small_orange {
                    background-color: $safran;
                }

                &_R_small_green {
                    background-color: $vert_pomme;
                }

                &_R_big_red {
                    background-color: $raspberry;
                }

                &_R_big_orange {
                    background-color: $safran;
                }

                &_R_big_green {
                    background-color: $vert_pomme;
                }
            }
        }
    }
}
