.content {
    display: flex;
    background-color: $warm_gray_1;
    text-align: center;
    align-items: center;
    height: 68vh;
    justify-content: center;
    @media screen and (max-width: 520px) {
        flex-direction: column-reverse;
    }

    &_train {
        margin-right: 12%;
        background-color: $warm_gray_1;
        border: none;
        @media screen and (max-width: 520px) {
            margin-right: 0;
        }
        &_img {
            height: 12rem;
            background-color: $warm_gray_1;
            border: none;
            @media screen and (max-width: 520px) {
                height: 7rem;
                margin: 2rem;
            }
            &_1 {
                max-height: 100%;
            }
        }
        &_title {
            color: $carbone;
            @media screen and (max-width: 520px) {
                margin: 8px;
            }
        }
    }
    &_train:hover {
        transform: scale(1.02);
    }
    &_team {
        background-color: $warm_gray_1;
        border: none;
        &_img {
            height: 12rem;
            @media screen and (max-width: 520px) {
                height: 7rem;
            }
            &_2 {
                max-height: 100%;
                @media screen and (max-width: 520px) {
                    opacity: 0.5;
                }
            }
        }
        &_title-1 {
            color: $carbone;
            @media screen and (max-width: 520px) {
                margin: 8px;
                margin-bottom: 1px;
            }
        }
        &_title-2 {
            display: none;
            color: $framboise;
            @media screen and (max-width: 520px) {
                margin: 8px;
                display: block;
                font-size: 2vh;
                margin: 1px;
            }
        }
    }
    &_team:hover {
        transform: scale(1.02);
        @media screen and (max-width: 520px) {
            transform: none;
        }
    }
}
