.content{
    display: flex;
    background-color: $warm_gray_3;
    &_train{
        &_img{

        }
        &_title{
            color: $carbone;
        }
    }
    &_team{
        &_img{

        }
        &_title{
            color: $carbone;
        }
    }
}