.commonPage {
    display: flex;
    height: 100vh;
    background-color: $carbone;

    &__left {
        width: 24%;
        margin: 20px 0 20px 20px;
        // background-color: white;
    }

    &__center {
        width: 38%;
        margin: 20px 0 20px 0px;
        // background-color: green;
    }

    &__right {
        width: 38%;
        margin: 20px 20px 20px 20px;
        // background-color: white;
    }
}
