@font-face {
    font-family: Avenir;
    src: url(./fonts/AvenirLTStd-Black.otf);
}

$carbone: #333333;
$warm_gray_1: #E0DED8;
$warm_gray_3: #C3BEB4;
$orange: #E05206;
$raspberry: #CD0037;

@mixin vertical-title {
    margin: 0;
    width: 100%;
    transform: rotate( 180deg );
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 3vw;
}

body{
    background-color: $carbone;
    margin: auto;
    font-family: 'Avenir';
    width: 100%;
    height: 100%;
}