@font-face {
    font-family: Avenir;
    src: url(./fonts/AvenirLTStd-Black.otf);
}
$Avenir: Avenir;

$carbone: #333333;
$warm_gray_1: #e0ded8;
$orange: #e05206;
$framboise: #cd0037;

@mixin vertical-title {
    margin: 0;
    width: 100%;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 3em;
}

body {
    background-color: $carbone;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: $Avenir;
}
