.form {
    background-color: $warm_gray_1;
    text-align: center;
    align-items: center;
    height: 68vh;
    width: 100%;
    justify-content: center;
    &__content {
        display: flex;
        width: 100%;
        height: 52vh;
        align-items: center;
        &__login {
            display: flex;
            flex-direction: column;
            text-align: end;
            width: 50%;
            &__id {
                &__label {
                    color: $orange;
                    font-weight: bold;
                    font-size: large;
                }
                &__input {
                    text-align: center;
                    color: $carbone;
                    font-weight: bold;
                    margin-left: 30px;
                    height: 35px;
                    width: 180px;
                    border: none;
                }
            }
            &__password {
                margin-top: 40px;
                &__label {
                    color: $orange;
                    font-weight: bold;
                    font-size: large;
                }
                &__input {
                    text-align: center;
                    color: $carbone;
                    font-weight: bold;
                    margin-left: 30px;
                    height: 35px;
                    width: 180px;
                    border: none;
                }
            }
            &__lostpassword {
                &__submit {
                    color: $carbone;
                    background-color: $warm_gray_1;
                    border: none;
                    font-weight: bold;
                    font-size: 11px;
                }
            }
        }
        &__picture {
            width: 50%;
            &__img {
                max-width: 200px;
            }
        }
    }
    &__connexion {
        height: 16vh;
        &__submit {
            background-color: $orange;
            border: none;
            color: white;
            height: 35px;
            width: 200px;
            font-weight: bold;
        }
    }
}
