.date {
    &__fieldset {
        margin-top: 5px;

        &__legend {}

        &__div {
            margin-top: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 20px;
            margin-right: 20px;

            &__label {
                width: 20px;
                height: 10px;
            }

            &__input {
                font-family: $Avenir;
                width: 70%;
                height: 30%;
            }
        }
    }
}